.profile {
  font: inherit;
  display: flex;
  width: 30rem;
  margin: 10rem auto 2rem auto;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(12, 10, 23);
  border-radius: 2rem;
}

.profile h1 {
  margin: 0rem auto 2rem auto;
  color: white;
}

.profile p {
  color: white;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 2rem;
}

.form input {
  border-radius: 10px;
  margin: 0rem auto;
  width: 80%;
  font-size: 1.4rem;
  height: 2rem;
  padding-left: 0.4rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgb(112, 111, 117);
}

.form input::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.form button {
  color: white;
  border-radius: 1.2rem;
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 1.2rem;
  margin: 2rem auto;
  margin-bottom: 0rem;
  padding: 0.5rem 1rem;
  background-color: rgb(112, 111, 117);
}

.form button:hover,
.form button:active {
  background-color: rgba(255, 255, 255, 0.6);
}
